
.container {
    height: 100%;
    // width: 100%;
    width:650px
  }
  
  
  .call-info {
    // width: 400px;
    width:650px;
    margin: 0 auto;
    padding:6px;
  }
  
  mat-toolbar {
    justify-content: center;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  